*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Be Vietnam Pro',sans-serif;
}

body{
    background:#f8fafc;
    color:#111827;
}

header{
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.top-header{

    max-width:1300px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#0066ff;
}

.search-box input{

    width:350px;

    padding:12px 15px;

    border-radius:10px;

    border:1px solid #ddd;
}

nav{

    max-width:1300px;
    margin:auto;

    display:flex;
    gap:25px;

    padding:15px 20px;
}

nav a{

    text-decoration:none;

    color:#374151;

    font-weight:500;
}

.hero-news{

    max-width:1300px;
    margin:40px auto;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;
}

.hero-left{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.hero-left img{
    width:100%;
    display:block;
}

.hero-left h1{
    padding:20px;
    font-size:36px;
}

.hero-left p{
    padding:0 20px 25px;
    color:#6b7280;
}

.hero-right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.side-news{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    cursor:pointer;

    transition:.3s;
}

.side-news:hover{
    transform:translateY(-5px);
}

.latest-news{

    max-width:1300px;
    margin:auto;

    padding:30px 0 80px;
}

.latest-news h2{
    margin-bottom:30px;
}

.news-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:25px;
}

.news-card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.news-card:hover{
    transform:translateY(-8px);
}

.news-card img{
    width:100%;
}

.content{
    padding:20px;
}

.content span{
    color:#6b7280;
    font-size:14px;
}

.content h3{
    margin:10px 0;
}

.content p{
    color:#6b7280;
}